@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-300 leading-relaxed dark:bg-[#0F0F0F]
    text-neutral-700 dark:text-neutral-200 overflow-y-scroll
  }
}

@layer utilities {
  .no-scrollbar {
     /* Hide scrollbar for Chrome, Safari and Opera */
     &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    @apply w-2 fixed
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-300 dark:bg-[#0F0F0F]
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-700
  }
}
